---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Casos de éxito - Implamax">
  <Header />
  <main>
    <HeroSection
      title="Casos de Éxito"
      highlightText="Éxito"
      description="Conoce algunos casos de nuestros pacientes"
    />

    <section class="py-16 bg-white dark:bg-gray-800">
      <div class="container-custom">
        <!-- Case Study 1 -->
        <div class="mb-24">
          <div class="grid md:grid-cols-2 gap-12 items-center mb-12">
            <div>
              <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">
                Juan Pérez perdió 2 dientes el año 2021
              </h2>
              <p class="text-gray-600 dark:text-gray-300 mb-6">
                Juan Pérez, una paciente de 45 años, llegó a Implamax con la
                necesidad de reemplazar dos dientes perdidos. Después de una
                evaluación exhaustiva, se le recomendó un tratamiento de
                implantes dentales. En solo tres meses, Juanita recuperó su
                sonrisa y su confianza.
              </p>

              <a href="#" class="btn-primary">Quiero saber más</a>
            </div>
            <div class="rounded-lg overflow-hidden shadow-xl">
              <img
                src="https://www.clinicamanzanera.com/wp-content/uploads/2018/11/implantes-inmediatos-antes-despues.jpg"
                alt="ShopWave Dashboard"
                class="w-full h-auto"
              />
            </div>
          </div>
        </div>

        <!-- Case Study 2 -->
        <div class="mb-24">
          <div class="grid md:grid-cols-2 gap-12 items-center mb-12">
            <div
              class="order-2 md:order-1 rounded-lg overflow-hidden shadow-xl"
            >
              <img
                src="https://institutodentallebron.com/wp-content/uploads/2021/07/como-colocar-un-implante-dental.jpg"
                alt="TechNova Team"
                class="w-full h-auto"
              />
            </div>
            <div class="order-1 md:order-2">
              <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">
                Diego González necesitaba un implante dental
              </h2>
              <p class="text-gray-600 dark:text-gray-300 mb-6">
                Diego González, un paciente de 38 años, llegó a Implamax con la
                necesidad de un implante dental. Después de una evaluación
                exhaustiva, se le recomendó un tratamiento de implantes
                dentales. En solo tres meses, Diego recuperó su sonrisa y su
                confianza.
              </p>

              <a href="#" class="btn-primary">Quiero saber más</a>
            </div>
          </div>
        </div>

        <!-- Case Study 3 -->
        <div>
          <div class="grid md:grid-cols-2 gap-12 items-center mb-12">
            <div>
              <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-4">
                Iara Martínez vivió sin su diente durante 5 años
              </h2>
              <p class="text-gray-600 dark:text-gray-300 mb-6">
                Iara Martínez, una paciente de 30 años, llegó a Implamax con la
                necesidad de reemplazar un diente perdido. Después de una
                evaluación exhaustiva, se le recomendó un tratamiento de
                implantes dentales. En solo tres meses, Iara recuperó su sonrisa
                y su confianza.
              </p>

              <a href="#" class="btn-primary">Quiero saber más</a>
            </div>
            <div class="rounded-lg overflow-hidden shadow-xl">
              <img
                src="https://www.clinicamanzanera.com/wp-content/uploads/2021/02/antes-y-despues-perdida-dental-resuelta-con-implantes-dentales.jpg"
                alt="MediConnect Platform"
                class="w-full h-auto"
              />
            </div>
          </div>
        </div>

        <div class="mt-16 text-center">
          <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4">
            ¿Quieres cambiar tu vida como ellos?
          </h3>
          <p class="text-gray-600 dark:text-gray-300 mb-8 max-w-2xl mx-auto">
            Si estás listo para dar el siguiente paso hacia una sonrisa
            saludable y hermosa, ¡estamos aquí para ayudarte!
          </p>
          <div class="flex flex-col sm:flex-row justify-center gap-4">
            <a href="/contact" class="btn-primary">Contáctanos</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
