---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PricingCmp from "../components/Pricing.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Nuestros planes - Implamax">
  <Header />
  <main>
    <HeroSection
      title="Nuestros planes"
      highlightText="planes"
      description="Los mejores planes para tu salud dental, elige el que más te convenga"
    />
    <PricingCmp />
    <Newsletter />
  </main>
  <Footer />
</Layout>
